.wrapper {
    min-height: 100%;
    font-family: 'SEGOE PRINT';
    color: grey;
}

.start-wrapper {
    display: grid;
    grid-template-areas: "header" "content" "contacts" "map-container" "footer";
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-columns: 1fr;
}

.services-wrapper {
    display: grid;
    grid-template-areas: "header" "services-content" "footer";
    grid-template-rows: auto 4fr 1fr;
}

.gallery-wrapper {
    display: grid;
    grid-template-areas: "header" "gallery-content" "contacts" "map-container" "footer";
    grid-template-rows: auto 4fr auto auto auto;
}

.contacts-wrapper {
    display: grid;
    grid-template-areas: "header" "contacts" "map-container" "footer";
    grid-template-rows: auto 1fr auto 1fr;
}

.header {
    display: grid;
    grid-area: header;
    grid-template-areas: "icons barbershop-name-description phone"
                         "header-menu header-menu header-menu";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1%;
    background-color: #FADADD;
}

.social {
    grid-area: icons;
    padding-left: 3%;
}

.social-link-header {
    text-decoration: none;
    padding: 0 1%;
    font-size: xx-large;
    color: dimgrey;
}

.barbershop-name-description {
    grid-area: barbershop-name-description;
    text-align: center;
    line-height: 1;
}

.barbershop-name {
    text-decoration: none;
    font-size: 70px;
    font-family: "Brush Script Std";
    color: dimgrey;
}

.barbershop-description {
    font-size: small;
}

.phone {
    grid-area: phone;
    text-align: end;
    padding-right: 5%;
}

.phone-icon {
    color: dimgrey;
    padding-right: 1%;
}

.phone-number {
    grid-area: phone-number;
    text-decoration: none;
    color: dimgrey;
}

.header-menu {
    grid-area: header-menu;
    padding-top: 2%;
}

.header-menu-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 18%);
    grid-gap: 3%;
    justify-content: center;
    list-style: none;
    text-transform:uppercase;
    position: relative;
    font-size: small;
    text-align: center;
    font-weight: bolder;
}

.header-menu-item {
    position: relative;
    padding: 6% 0;
    display: inline-block;
}

.header-menu-item:hover {
    background-color: #BCB3B8;
}

.services-menu {
    display: inline-block;
}

.services-menu-list {
    display: none;
    position: absolute;
    z-index: 2;
    line-height: 1;
    list-style: none;
    background-color: rgb(206, 169, 180);
    width: 100%;
    border-radius: 0 0 5px 5px;
    margin-top: 6%;
    padding: 4% 0;
}

.services-menu-item {
    padding: 2% 5% 7%;
}

.services-menu-link {
    display: block;
    text-decoration: none;
    color: dimgrey;
    text-transform: lowercase;
    font-size: 2vh;
}

.services-menu-link:hover {
    text-shadow: linen 0.1em 0.1em 0.1em, linen -0.1em -0.1em 0.1em;
}

.header-menu-item:hover {
    background-color: rgb(206, 169, 180);
    border-radius: 5px 5px 0 0;
}

.services-menu:hover .services-menu-list {
    display: block;
}

.header-menu-link {
    text-decoration: none;
    color: dimgrey;
    display: block;
}

.header-menu-link:hover {
    text-shadow: linen 0.1em 0.1em 0.1em, linen -0.1em -0.1em 0.1em;
}

.content {
    grid-area: content;
    min-height: 500px;
    position: relative;
    padding: 10%;
    background: linear-gradient(to top, #FADADD, #DDC5C8);

}

.discount {
    display: grid;
    grid-area: discount;
    grid-template-rows: auto;
    text-align: center;
    align-items: center;
    padding: 5% 25%;
    min-height: 200px;
    background-color: #FADADD;
    justify-content: center;
}

.discount-header {
    font-size: large;
    color: rgb(220, 62, 123);
}

.discount-content {
    padding-bottom: 2%;
    line-height: 2;
}

.discount-btn {
    height: 90%;
    width: 30%;
    justify-self: center;
    background-color: #DDC5C8;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
}

.online-registration {
    text-decoration: none;
    color: rgb(220, 62, 123);
    font-family: cursive;
}

.contacts {
    display: grid;
    grid-area: contacts;
    justify-content: center;
    background-color: #DDC5C8;
    align-items: center;
    position: relative;
    line-height: 2;
    padding: 2% 0;
    text-align: center;
}

.contacts-menu {
    list-style: none;
}

.contacts-header {
    color: rgb(220, 62, 123);
}

.map-container {
    grid-area: map-container;
    background-color: #DDC5C8;
}

.map {
    width: 100%;
}

.fixed-btn {
    display: none;
    position: fixed;
    top: 85%;
    left:5%;
    background-color: rgb(206, 169, 180);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0 10px rgba(145,80,112, 1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(220, 62, 123);
        box-shadow: 0 0 0 0 rgb(220, 60, 132);
    }
    70% {
        -moz-box-shadow: 0 0 0 5px rgba(220,20,60, 0);
        box-shadow: 0 0 0 10px rgba(220,20,60, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(220,20,60, 0);
        box-shadow: 0 0 0 0 rgba(220,20,60, 0);
    }
}

.fixed-btn-link {
    display: block;
    text-decoration: none;
    color: dimgrey;
    font-family: 'SEGOE PRINT';
    font-weight: bold;
    line-height: 1.4;
}

.footer {
    display: grid;
    grid-area: footer;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 20%);
    grid-gap: 5%;
    justify-content: space-around;
    background-color: #DDC5C8;
    bottom: 0;
    width: 100%;
    min-height: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 2;
}

.first-footer {
    line-height: 1.3;
}

.footer-main-header{
    font-size: x-large;
    font-family: "Brush Script Std";
    padding-bottom: 0.5%;
}

.barbershop-name-footer {
    text-decoration: none;
    color: grey;
}

.social-link-footer {
    text-decoration: none;
    padding: 0 1%;
    font-size: x-large;
    color: dimgrey;
}

.footer-header {
    font-size: large;
    color: rgb(220, 62, 123);
}

.services-bottom-link {
    text-decoration: none;
    color: rgb(220, 62, 123);
}

.barbershop-address {
    color: dimgrey;
}

.about-us {
    list-style: none;
}

.about-us-link {
    text-decoration: none;
    color: dimgrey;
}

.about-us-link:hover {
    text-decoration: underline;
}

.services {
    list-style: none;
}

.services-link {
    text-decoration: none;
    color: dimgrey;
}

.services-link:hover {
    text-decoration: underline;
}

.services-content {
    display: grid;
    grid-area: services-content;
    justify-content: center;
    grid-template-columns: 1fr;
    background: linear-gradient(to top, #FADADD, #DDC5C8);
    padding: 3% 25%;
}

.services-price-header {
    display: flex;
    justify-content: space-between;
}

.services-list-header {
    padding: 2% 0 0.5% 0;
    font-weight: bold;
}

.services-list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid dimgrey;
    padding-top: 1%;
}

.price {
    font-weight: bold;
}

.nav-btn {
    display: none;
}

.gallery-content {
    grid-area: gallery-content;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    background: linear-gradient(to top, #FADADD, #DDC5C8);
    padding: 3% 25%;
}

.photo-gallery {
    text-align: center;
}

.hairstyle-photo {
    width: 70%;
    margin-bottom: 2%;
    box-shadow: 0 0 15px white;
    border-radius: 15px;
}

.callback-form {
    display: none;
    width: 150px;
    height: 150px;
}

@media screen and (max-device-width: 567px) {

    .fixed-btn {
        display: none;
        width: 12vh;
        height: 12vh;
        font-size: 2.5vh;
        background-color: rgba(206, 169, 180, 0.5);
        top: 17.5vh;
        left: 70vw;
        z-index: 2;
    }

    .header {
        display: grid;
        grid-area: header;
        grid-template-areas: "icons" "barbershop-name-description" "header-menu";
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        justify-content: space-around;
        padding-top: 3%;
        padding-left: 1%;
    }

    .social {
        grid-area: icons;
    }

    .social-link-header {
        font-size: 6vh;
    }

    .barbershop-name {
        font-size: 7vh;
    }

    .barbershop-name-description {
        grid-area: barbershop-name-description;
        padding-bottom: 2vh;
    }

    .barbershop-description {
        font-size: 2vh;
    }

    .header-menu {
        grid-area: header-menu;
    }

    .nav-toggle {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 2%;
        left: 1%;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        width: 90%;
    }

    .header-menu-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-left: 2%;
        width: 106.2vw;
        height: 100vh;
        margin: 0 0 0 -10vw;
        background-color: #FADADD;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .header-menu-item {
        padding: 5% 0;
        transition-delay: 1s;
        font-size: 4vh;
    }

    .nav-btn {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    .nav-btn-item {
        display: flex;
        width: 57px;
        height: 4px;
        margin-bottom: 13px;
        position: relative;
        background: grey;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    .nav-btn-item:first-child {
        transform-origin: 0% 0%;
    }

    .nav-btn-item:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .nav-btn:checked ~ .nav-btn-item {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: grey;
    }

    .nav-btn:checked ~ .nav-btn-item:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .nav-btn:checked ~ .nav-btn-item:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .nav-btn:checked ~ .header-menu-list {
        transform: none;
    }

    .services-menu-list {
        margin-top: 1vh;
    }

    .phone-icon {
        font-size: 4.5vh;
        position: absolute;
        cursor: pointer;
        top: 2vh;
        left: 87vw;
    }

    .phone-number-header {
        grid-area: phone;
        display: none;
    }

    .content {
        grid-area: content;
        font-size: 3vh;
    }

    .contacts {
        grid-area: contacts;
        font-size: 2vh;
    }

    .map-container {
        grid-area: map-container;
    }

    .footer {
        display: grid;
        grid-area: footer;
        grid-template-areas: "services" "barbershop-address" "first-footer";
        text-align: center;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        font-size: 35px;
    }

    .footer-header {
        font-size: 4vh;
    }

    .first-footer {
        grid-area: first-footer;
    }

    .footer-main-header {
        font-size: 5vh;
    }

    .social-link-footer {
        font-size: 4vh;
    }

    .barbershop-address {
        grid-area: barbershop-address;
    }

    .about-us {
        grid-area: about-us;
    }

    .services {
        grid-area: services;
    }

    .services-link, .about-us-link, .address-footer {
        font-size: 2.8vh;
    }

    .services-wrapper {
        display: grid;
        grid-template-rows: auto 1fr 1fr auto;
        grid-template-columns: 1fr;
        font-size: 2vh;
    }

    .services-price-header {
        padding-bottom: 2vh;
    }

    .services-content {
        padding: 3%;
        grid-gap: 3vh;
    }

    .discount {
        padding: 5%;
    }

    .discount-header {
        font-size: 3.5vh;
        font-weight: bold;
    }

    .discount-content {
        font-size: 2vh;
    }

    .discount-btn {
        width: 60vw;
        height: 7vh;
    }

    .online-registration {
        font-size: 1.8vh;
    }

    .contacts-header {
        font-size: 3.5vh;
    }

    .contacts-wrapper {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    .hairstyle-photo {
        width: 100%;
    }
}
